@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&family=Noto+Sans+Display:wght@400;500;700&display=swap");

html, body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.top {
  position: relative;
  top: 10px;
  display: block;
  width: 90%;
  margin: 0 auto;
}

header {
  position: fixed;
  background: url(../img/149.jpg) repeat-x left top;
  left: 0;
  top: 0;
  width: 100%;
  height: 130px;
  z-index: 20;
}

header .logo {
  position: absolute;
  left: -20px;
  top: 5px;
  width: 220px;
  height: auto;
}

header .home {
  color: white;
  font-size: 15px;
  background-color: #f18720;
  padding: 10px;
  border-radius: 50%;
  margin-right: 16px;
  vertical-align: middle;
}

.navigation__bar {
  position: absolute;
  top: 35px;
  right: 0;
  text-align: right;
}

.nav__bar {
  position: relative;
  padding: 3px;
  border: 1px solid #e00d7a;
  display: inline-block;
  border-radius: 30px;
  vertical-align: middle;
}

.nav__bar ul {
  position: relative;
  background-color: #e00d7a;
  list-style: none;
  overflow: hidden;
  border-radius: 30px;
  margin: 0;
  padding: 1px;
  font-family: "Montserrat", sans-serif;
}

.nav__bar li {
  float: left;
  height: 40px;
  padding: 0 10px;
}

.nav__bar li:last-child {
  padding-right: 20px;
}

.nav__bar li a {
  padding: 0 5px;
  text-decoration: none;
}

.nav__bar li:hover {
  background: #f37520;
  cursor: pointer;
  transition: all 0.5s;
}

.nav__bar li h1 {
  font-size: 15px;
  color: white;
  position: relative;
  top: 10px;
}

/* CONTAINER */
/* .container {
  position: relative;
  left: 0;
  top: 0;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: all 0.3s ease 0s;
} */

/* .container-bg {
  position: relative;
  width: 100%;
  height: 64px;
  padding-top: 130px;
  background-image: url(../img/bg-top.png), url(../img/106.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: center top, center bottom;
  overflow: hidden;
} */

/* REGISTER */
.register__top {
  margin-top: 130px;
}

.register__content {
  position: relative;
  width: 100%;
  height: 64px;
  background: url(../img/107.png) repeat center top;
  border-bottom: 1px solid #fff;
}

.register__wrap {
  width: 90%;
  margin: 0 auto;
  z-index: 19;
  position: relative;
}

.register__wrap ul {
  display: inline-block;
  overflow: hidden;
  margin: 0px -30px;
} 

.register__wrap ul li {
  float: left;
  margin-right: 30px;
  list-style: none;
}

.register__wrap ul li a {
  color: #e00d7a;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
}

.hotline {
  float: right;
  font-family: "Noto Sans Display", sans-serif;
  font-weight: 900;
  font-size: 30px;
  color: #f37520;
  background: url(../img/110.png) no-repeat left 7px;
  padding: 10px 0 9px 64px;
  text-decoration: none;
  color: #f37520;
}

.btn__register {
  background: url(../img/108.png) no-repeat left 1px;
}

.btn__register a {
  display: block;
  padding: 25px 0 23px 71px;
}

.btn__login {
  background: url(../img/109.png) no-repeat left;
}

.btn__login a {
  display: block;
  padding: 25px 0 23px 42px;
}

/* SLIDER */
.slider-container {
  width: 100%;
  overflow: hidden;
  height: 290px;
}

.slider-img {
  display: flex;
}

.slider-img img {
  width: 100%;
  height: auto;
  position: relative;
  display: block;
  z-index: -1;
}

.slider-img input {
  display: none;
}

.lableslide {
  display: flex;
  justify-content: center;
  padding: 13px 0;
  background: url(../img/149.jpg);
}

.lableslide .lable-page {
  height: 20px;
  width: 20px;
  border: 1px solid transparent;
  border-radius: 50%;
  margin: 0 10px;
}

.lableslide .lable-page:hover {
  height: 20px;
  width: 20px;
  border: 1px solid white;
  border-radius: 50%;
  margin: -1px 7px;
}

.lableslide label {
  display: block;
  height: 12px;
  width: 12px;
  background: white;
  border-radius: 50%;
  margin: 3px 3px;
}

#img1:checked ~.imgSlide1 {
  margin-left: -100%;
}

#img2:checked ~.imgSlide2 {
  margin-left: -200%;
}

#img3:checked ~.imgSlide3 {
  margin-left: -300%;
}

#img4:checked ~.imgSlide4 {
  margin-left: -400%;
}


/* CART */

.cart__content {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 5;
  background-image: url(../img/102.png), url(../img/107.png);
  background-repeat: repeat-x,repeat;
  background-position: left top, center top;
  background-size: contain, contain;
  -webkit-background-size: contain, contain;
}

.cart__wrapper {
  display: block;
  width: 90%;
  height: 136px;
  margin: 0 auto;
  text-align: center;
}

.cart__wrapper .block__title {
  display: inline-block;
  width: auto;
  height: 100%;
  position: relative;
  vertical-align: middle;
  line-height: 144px;
  padding-left: 150px;
}

.block__title h2 {
  font-weight: bold;
  font-size: 36px;
  color: #e00d7a;
  line-height: 32px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  text-shadow: 4px 4px 0 rgba(0,0,0,0.1);
  text-align: left;
}

.block__title:before {
  content: '';
  display: block;
  position: absolute;
  left: 0px;
  top: -20px;
  width: 114px;
  height: 130px;
  background: url(../img/icon-ticket.png) no-repeat center center;
}

.cart__wrapper .block__list {
  display: inline-block;
    vertical-align: middle;
    width: 70%;
    margin-top: 12px;
    max-width: 910px;
    text-align: center;
}

.block__list .select__list {
  position: relative;
  display: inline-block;
  margin: 0 5px 12px 5px;
}

.select__list a {
  color: white;
  text-align: left;
}

.dropdown__toggle {
  height: 48px;
  width: 290px;
}

.select__list .btn__box {
  background: #464646;
  padding: 10px 15px;
  border-radius: 0 30px 30px 30px;
}

.select__list .btn__box:hover {
  background: #e00d7a;
  color: white;
}

.btn__box::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.dropdown-menu .dropdown-item {
  background: white;
  color: black;
}

.dropdown-menu .dropdown-item:hover {
  background: #e00d7a;;
  color: black;
}